.accord {
   max-width: 400px;
   height: auto;
   
   border: 1px solid #ccc;
   margin: 100px auto 0;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
}

.accord-visible {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   color: #ffffff;
   background-color: #18504382;
   opacity: 0.6;
   

   cursor: pointer;
}
.accord-visible h2{
   font-size: 20px;
}
.accord-visible img {
   width: 20px;

  
}

.accord-toggle {
   font-size: 18px;
   padding: 15px;
   opacity:0;
   background-color: #fff;
   -webkit-transition:opacity  0.4 ease-in-out,height 0.4s 0.4s ease-in-out ;
   -moz-transition:opacity  0.4 ease-in-out,height 0.4s 0.4s ease-in-out ;
   -ms-transition:opacity  0.4 ease-in-out,height 0.4s 0.4s ease-in-out ;
   -o-transition:opacity  0.4 ease-in-out,height 0.4s 0.4s ease-in-out ;
   transition:opacity  0.4 ease-in-out,height 0.4s 0.4s ease-in-out ;
}

.accord-toggle p {
   margin: 0;
   pointer-events: none;
   line-height: 1.3;
}
.animated{
   opacity: 1;
   -webkit-transition: height 0.4s ease-in-out, opacity 0.4 0.4 ease-in-out;
   -moz-transition: height 0.4s ease-in-out, opacity 0.4 0.4 ease-in-out;
   -ms-transition: height 0.4s ease-in-out, opacity 0.4 0.4 ease-in-out;
   -o-transition: height 0.4s ease-in-out, opacity 0.4 0.4 ease-in-out;
   transition: height 0.4s ease-in-out, opacity 0.4 0.4 ease-in-out;
}
